{% extends 'base.html' %} {% block content %}
<h1>ABOUT LA BOUTIQUE LOG!</h1>
<h6 <span style="color:DodgerBlue; font-weight:bold">
    Thank you for visiting La Boutique Log, a tech review site with a global
    inclusive flair. We review the latest tech gadgets in the industry. Our stay
    at home parent community of developers provide great reviews of tech
    products.
  </h6>
  <h6>Gǎnxiè nín fǎngwèn La Boutique Log, zhè shì yījiā quánqiú xìng de jìshù pínglùn wǎngzhàn
    bāoróng de tiānfù. Wǒmen huígùle hángyè zhōng de zuìxīn jìshù chǎnpǐn. Wǒmen de zhùsù
    zài jiāzhōng de kāifā rényuán jiāzhǎng shèqū duì jìshù yǒu hěn hǎo de píngjià
    chǎnpǐn.</h6>

  <h6 <span style="color:DodgerBlue; font-weight:bold">
    Della from acklins island developers is a full stack Engineer with an
    affinity for the backend. In her spare time she enjoys learning Mandarin and
    publishing code and music.
    <a href="https://music.apple.com/us/artist/della-mcmillan/475603150">Music</a>
    <a href="https://github.com/acklins">Git</a>
    <a href="https://www.linkedin.com/in/dellamcmillan">Linkedin</a>
  </h6>
  <h6>来自acklins island开发商的Della是全栈工程师，对后端很熟悉。在业余时间，
  她喜欢学习普通话并出版代码和音乐。
  <a href="https://music.apple.com/us/artist/della-mcmillan/475603150">Yīnyuè 音乐</a>
    <a href="https://github.com/acklins">Jí tè 吉特</a>
    <a href="https://www.linkedin.com/in/dellamcmillan">Lǐng yīng 领英</a>
  </h6>

<div>
  <img
    class="responsive-img"
    width="200"
    height="200"
    src="/static/css/assets/images/JiufenTaiwan.jpg"
    alt="Jiufen"/>
    <div>
  <p>Jiufen Taiwan</p>
    <div/>
<div/>

  <div class="maokong">
    <img
      class="responsive-img"
      width="200"
      height="200"
      src="/static/css/assets/images/MaokongGondalaTaipei.jpg"
      alt="Maokong Gondala Taipei"
      <div
    />
    <p>Maokong Gondala Taipei</p>
    <p/>
    <div/>
  </div>
  {% endblock %}
</div>
