body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url(/static/css/assets/images/gold.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  img .maokong {
    display:inline-block;
    border-radius: 50%;
  }
  
  footer {
    padding-top: 0;
    text-align: right;
  }
  .profile_pic {
    width: 300px;
    border-radius: 50%;
    height: auto;

  }
  label {
    font-size: 1.2rem;
    color: black;
  }
  .photo{
    width: 300px;
    height: auto;
  }
  .card {
    border-radius: 10px;
}
  
@media (max-width: 500px) {
  .responsive-logo{
    display: none;

  }

}
  
